body {
	margin: 0px;
	background: #F4F5F8;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-style: normal;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}
.header{
	padding:1%;
	width: 98%;
}
.logo{
	width: 20%;
	float: left;
	padding-bottom: 1%;
	padding-left: 1%;
}
.login{
	width: 25%;
	float: right;
	padding-bottom: 1%;
	padding-left: 1%;
}

.navigation{
	font-style: italic;
	transform: skew(-10deg);
	position: sticky;
	top: 10px;
	background : rgba(48,108,180,0.80);
	float: right;
	width: 98%;
	margin-bottom: 1%;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.70);
	z-index: 2;
}
.navigation ul{
	transform: skew(20deg);
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigation li{
	float: left;
	display: inline-block;
	margin-left: 70px;
	padding: 10px;
}
.navigation a{
	text-align: center;
	padding: 10px 20px;
	height: 40px;
	color: #F2F3F6;
	text-decoration: none;
	font-size: 20px;
}
.navigation a:hover{
    color: #FFFFFF;
	text-shadow: 2px 2px 10px #00063D;
    background-color: #1F4A7C;
}
.navigation ul li ul{
	margin-top: 10px;
	transform: skew(0deg);
	display: none;
	position: absolute;
	background : rgba(48,108,180,0.80);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.70);
}
.navigation ul li ul li{
	margin: 0;
	padding-top: auto;
	float: none;
	display: block;
}
.navigation ul li:hover ul{
	display: block;
}
.navigation ul li ul li:hover{
	display: block;
	color: #000;
	background-color: #1F4A7C;
}

.content{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	float: left;
}
.main-banner{
    width: 100%;
    height: 500px;
    padding-top: 20px;
    background-image: url(Bilder/fitness1_1.png);
	background-position: center center;
	background-size: cover;
	float: center;
}
#go-button{
	width: 100%;
	}
.main-banner img{
	display: block;
	margin-top: 100px;
 	margin-left: auto;
 	margin-right: auto;
    width: 50%;
	max-width: 200px;
    filter: drop-shadow(2px 2px 10px #00063D);
    z-index: 1;
    transition: 0.3s;
}
.main-banner img:hover{
	transform: scale(1.03) rotate(-5deg);
}
.main-banner h1{
    color: #F2F3F6;
    text-align: center;
    text-shadow: 2px 2px 10px #00063D;
    font-size: 50pt;
    font-style: normal;
    line-height: 1;
    margin-bottom: -50px;
}
.info1backup{
    float: left;
    top: 10px;
    background : #306CB4;
    width: 40%;
    height: 250px;
    margin-bottom: 1%;
    margin-right: 50%;
    clip-path: polygon(0% 0, 100% 0, 95% 100%, 0% 100%);
    margin-left: 5%;
    z-index: 1;
    margin-top: 2%;
}
.info1{
    float: left;
    margin: 2%;
    background-color: #306CB4;
    display: block;
    width: 700px;
    max-width: 100%;
    height: 250px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    clip-path: polygon(0% 0, 100% 0, 95% 100%, 0% 100%);
}
#pic1{
	background-image: url("Bilder/pic-2.png")
}
.info2{
    float: right;
    margin: 2%;
    display: block;
    width: 700px;
    max-width: 100%;
    height: 250px;
    background-image: url("Bilder/pic-2.png");
    background-position: bottom right;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.fitness3{
    position: absolute;
    width: 40%;
    clip-path: polygon(5% 35%, 100% 35%, 100% 100%, 0% 100%);
    margin-right: 5%;
    margin-top: 2%;
    margin-left: -42%;
}


.info1 h2{
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    height: 40px;
    color: #F2F3F6;
    text-decoration: none;
    font-size: 40px;
}
.info1 p{
    padding-right: 60px;
    padding-left: 20px;
    padding-bottom: 10px;
    height: 40px;
    color: #F2F3F6;
    text-decoration: none;
    font-size: 20px;
}
.Text1{
	width: 100%;
	top: 20%;
	position: absolute;
	color: #F2F3F6;
	text-align: center;
	text-shadow: 2px 2px 10px #00063D;
	font-size: 7rem;
	font-style: normal;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Text2 {
	top: -20%;
	padding-top: 12rem;
	font-size: 7rem;
	font-weight: 100;
}
.Ueberschrift{
	width: 100%;
	text-align: center;
	text-shadow: 2px 2px 5px #00063D;
	margin-top: -3%;
	font-weight: 600;
	font-size: 620%;
	font-style: normal;
	color: #000;
	line-height: 0%;
}
.linkeBilder{
	position: relative;
	width: 30%;
	margin-left: 15%;
	margin-top: 5%;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.70);
	border: solid 8px rgb(48,108,180);
	transition: 0.3s;
}
.rechteBilder{
	position: relative;
	display: block;
	float: right;
	width: 30%;
	margin-top: 5%;
	margin-right: 15%;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.70);
	border: solid 8px rgb(48,108,180);
	overflow: hidden;
	transition: 0.5s;
}
.bildersonstiges{
	margin-top: -1%;
}
a.ausdauertraining:hover + .fitnesstext1{
	transform: scale(1.03);
}
.ausdauertraining:hover{
	transform: scale(1.03);
}
a.fitnesssteigerung:hover ~ .fitnesstext2{
	transform: scale(1.03);
}
.fitnesssteigerung:hover{
	transform: scale(1.03);
}
a.muskeltraining:hover + .fitnesstext3{
	transform: scale(1.03);
}
.muskeltraining:hover{
	transform: scale(1.03);
}
a.krafttraining:hover ~ .fitnesstext4{
	transform: scale(1.03);
}
.krafttraining:hover{
	transform: scale(1.03);
}
.fitnesstext{
	line-height: 0.2em;
	margin-top: -0.3%;
	background: rgb(48,108,180);
	font-style: normal;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer{
    position: relative;
	padding: 5px 20px;
    height: 15%;
    right: 0;
    bottom: 0;
    left: 0;
    color: #F4F5F8;
    background-color: #306CB4;
    clear: both;
}
input[type=text], input[type=email], input[type=number], input[type=password]{
	width: 300px;
}
.logo, .header, .login, .navigation {
	margin-right: 1%;
}
