body {
	margin: 0;
	background: #F2F3F6;
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	font-style: italic;
}
.logo{
	height: 20%;
	float: left;
	padding-bottom: 1%;
}
.header{
	padding:1%;
	width: 98%;
	margin: 0;
	background: #F2F3F6; 
}
.login{
	float: right;
	width: 10%;
	height: 20%;
	background-color: #306CB4;
	transform: skew(-10deg);
}
.login ul{
	transform: skew(20deg);
	margin: 0;
	padding-top: 5px;
	padding-left: 15%;
	list-style: none;
}
.login li{
	display: inline-block;
}
.login a{
	color: #FFF;
	text-decoration: none;
	font-size: 40px;
}
.login a:hover{
	color: #000;
}

.navigation{
	transform: skew(-10deg);
	background : #306CB4;
	float: right;
	width: 98%;
	margin-bottom: 1%;
}
.navigation ul{
	transform: skew(10deg);
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigation li{
	display: inline-block;
	margin-left: 70px;
	padding: 10px;
}
.navigation a{
	color: #F2F3F6;
	text-decoration: none;
	font-size: 20px;
}
.navigation a:hover{
	color: #000;
}
.fitness1{
	float: left;
	padding-left: 20px;
	width: 100%;
}
.content{
	margin: 0;
	margin-bottom: 1%;
	float: left;
}

.footer{
	position: relative;
    width: 100%;
    height: 15%;
    right: 0;
    bottom: 0;
    left: 0;
    color: #000; 
    background-color: #306CB4;
    clear: both;
}
input[type=text], input[type=email], input[type=number], input[type=password]{
	width: 300px;
}
.logo, .header, .login, .navigation, .content {
	margin-right: 1%;
}